.grid-container {

  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.grid-item {
  background-color: chocolate;
  color: white;
  display: grid;
  place-items: center;   
  font-size: 2em;
}